<!doctype html>
<html lang="en">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <head>
    </head>
    <body style="margin:0px; background-color: #48C8A9;">
        <canvas style = "width: 100%; height: 100%; position: fixed" id = "backgroundCanvas"></canvas>

        <div class="fade-out" id = "choiceBox" style="position: fixed; top: 15%; left: 15%; border-radius: 25px; background: #FFFFE3; padding: 20px; border: 2px solid #73AD21; width: 70%; height:70%;"> 
            <h1 style="text-align: center;"> Thats not quite right... </h1>
            <div style="background-color: #f6fafa; border: 2px solid #73AD21; border-radius: 5px; box-shadow: 0px 0px 5px 2px #73AD21;">
                <h3 style="padding: 30px; color: #2e2e2e;" id="newTitle"> Loading... </h3>
            </div>

            <table style="width: 100%; height: 30%; color: #7a7a7a;">
                <tr>
                    <th style="width: 50%"> First Article (Replacing Phrase) </th>
                    <th style="width: 50%"> Second Article (Structure) </th> 
                </tr>
                <tr>
                    <td id="firstArt" style="width: 50%"> ... </th>
                    <td id="secArt" style="width: 50%"> ... </th>
                </tr>
            </table>
            
            <div style="position: absolute; bottom: 10px; right:5%; width: 90%">
                <p style="text-align: center; color: #7a7a7a;"> Generate New: </p>
                <div style="margin-left: 10%">
                    <button class = "choiceButt" id="Noun"> Noun </button>

                    <button class = "choiceButt" id="Verb"> 'Verb' Coming Soon </button>

                    <button class = "choiceButt" id="Person"> 'Person' Coming Soon </button>
                </div>
                <p style="font-size: 5px; margin-top: 10px; display: inline-block;"> This can be made more efficient but the end result is fairly optomized</p>
                <p style="display: inline-block; position: absolute; right: 5%;"><a href="https://github.com/DaxGute/BadLibs">Code</a> by Daxton Gutekunst</p>
            </div>
           
        </div>
    
        <ul id="messages"></ul>
        <form action="">
          <input id="m" autocomplete="off">
          <button>send </button> 
        </form>
    </body>
    <script src="/socket.io/socket.io.js" ></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
        // $(function () {
        //     var socket = io();
        //     socket.on('getArticle', message => {
        //         var titleArray = message.split('☃')
        //         document.getElementById('secArt').innerHTML = titleArray[0]
        //         document.getElementById('firstArt').innerHTML = titleArray[1]
        //         document.getElementById('newTitle').innerHTML = titleArray[2]
        //     })
        // };
        $(function () {
            var socket = io();
            $('form').submit(function(){
            console.log($('#m').val());
            socket.emit('chat message', $('#m').val());
            $('#m').val('');
            return false;
            });
            socket.on('chat message', function(msg){
            console.log(msg);
            $('#messages').append($('<li>').text(msg));
            window.scrollTo(0, document.body.scrollHeight);
            });
         });
    </script>
    <!-- <script type="module" src="/javascript/home.js"></script> -->
</html>